.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 170px;
}
.nav-logo{
  width: 80px;        /* change this size */
  height: auto;
  object-fit: contain;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    gap: 60px;
}
.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36% , #B923E1 102.06%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}
.nav-connect:hover{
    transform: scale(1.05);
}
.nav-menu li{
    display: flex;
    flex-direction: column;
  gap: 5px;
    cursor: pointer;
}
.nav-menu li img{
    display: flex;
    margin: auto;
}
.anchor-link{
    text-decoration: none;
    color: white;
}
.nav-mob-close{
  display: none;
}
.nav-menu-open{
    display: none;
}
@media(max-width: 768px){

  .navbar{
    margin: 20px 20px;
    width: calc(100% - 40px);
  }

  .nav-logo{
    width: 60px;
  }

  .nav-connect{
    display: none; /* Hide button on mobile */
  }

  .nav-menu-open{
    display: block;
    position: absolute;
    right: 20px;
    top: 25px;
  }
  .nav-mob-close{
  display: block;
  position: absolute;
  top: 25px;
  right: 25px;
  width: 25px;
  cursor: pointer;
}


  .nav-menu{
    position: fixed;
    top: 0;
    right: -100%;
    width: 75%;              /* instead of 350px */
    max-width: 300px;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding: 80px 30px;
    background: #111;
    transition: 0.4s ease;
  }

  .nav-menu li{
    font-size: 20px;
    padding-left: 0;
  }

}
